# these paths reflect current deploy server organization. In the future this can be automated by a deploy routine
# m h  dom mon dow   command
0 8 * * * /home/administrador/Repositorios/AlertaDengueCaptura/crawlclima/pegatweets.py
0 9 * * * /home/administrador/Repositorios/AlertaDengueCaptura/crawlclima/capturachuva.py