# these paths reflect current deploy server organization. In the future this can be automated by a deploy routine
# m h  dom mon dow   command
0 21 * * * cd /AlertaDengueCaptura && crawlclima/pegatweets.py
0 23 * * * cd /AlertaDengueCaptura && crawlclima/capturachuva.py
0 22 * * * cd /AlertaDengueCaptura && crawlclima/pegatemperatura.py