# Created by .ignore support plugin (hsz.mobi)

### IPythonNotebook template
# Temporary data
.ipynb_checkpoints/
notebooks_tmp/
downloader_app/tests/
*utilities/geo_json/


### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
utilities/geo_json/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.idea
bkp

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*_version.py

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
downloader/downloader_app/tests/data/tiffs/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
*.env
.env_downloader
.idea/
*.ini
.vscode

# EarthEngine
DownloadedFiles/*
*credentials*
downloads.db
*client_secrets.json
*mycreds.txt
*settings.yaml
*.tiff

# dumps
*docker/dbschemas/
*/docker/dev_dumps/
*.gz
