POSTGRES_USER=test_user
POSTGRES_PASSWORD=xzh231
POSTGRES_HOST=localhost
POSTGRES_PORT=25432
POSTGRES_DATABASE=dengue

PSQL_HOST=localhost
PSQL_PORT=25432

GEOJSON_PATH=/media/br-atlas/geo/

CELERY_BROKER_URL=amqp://guest:guest@capture_rabbitmq:25672
CELERY_BACKEND=rpc://
QUERY_CACHE_TIMEOUT=86400

