CLIENT_ID='*'
CLIENT_SECRET='*'
PROJECT_ID='*'
REFRESH_TOKEN='*'
ACCESS_TOKEN='*'

POSTGRES_USER=test_user
POSTGRES_PASSWORD=xzh231
POSTGRES_HOST=localhost
POSTGRES_PORT=25432
POSTGRES_DATABASE=dengue

PSQL_HOST=localhost
PSQL_PORT=25432

# Path to CI
SHAPEFILES_DIR="../../downloader_app/tests/data/shapefiles"
TIFFS_DIR="../../downloader_app/tests/data/tiffs"
